# Environments
.env
.venv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE
.idea/*

# Telegram sessions
*.session
*.session-journal

# System files
.DS_Store
messages.log
openspec/changes/archive/
